<div class="container-fluid">
    <div class="container">
        <div class="row  justify-content-md-center">
            <div class="col-md-auto"></div>
    This text can be edited by the user.
    <input type="text"   id="xxx12"  class="form-control" aria-describedby="basic-addon1" > 
  </div> </div> </div>

<div class="container-fluid">
  <div class="container">
      <div class="row  justify-content-md-center">
          <div class="col-md-auto"></div>

          <div class="col" style="max-width: 600px">
              <div style="margin-top: 20%" *ngIf="viewMode === 'LEARNING'" >

                  <span style="color:orange; font-size: 70%; margin-right: 10px">Advance Memorize Word:</span>
                  <label style="color:green; font-size: 105%">{{actual_memorize.advancePercentage}}%</label>


                  <div style="width: 100%; text-align: left;" *ngIf="!isLoading" tabindex="1" >
                      <div class="container">
                        <div class="row">                        
                          <span style="color:gray; font-size: 70%; margin-right: 10px">Memorize Remaining:</span>
                          <label style="color:green; font-size: 90%">{{summaryTotalProgress.remainingMomorize}}</label>&nbsp;&nbsp;

                          <span style="color:gray; font-size: 70%; margin-right: 10px">Percentage Remaining:</span>
                          <label style="color:green; font-size: 90%">{{summaryTotalProgress.percentRemainingMomorize | number:'1.2-2'}}%</label>
                        </div>
                      </div>

                      <div style="width: 100%; text-align: left;">
                          <div *ngIf="actual_memorize.example !== null">
                            <label   style="color: gray; font-style:italic; font-size: 80%">Ej: {{actual_memorize.example}}</label>
                          </div>

                          <label for="formGroupExampleInput" *ngIf="!onlyImg || actual_memorize.imageUrl === null" id="spanish">{{actual_memorize.spanish}}</label>
                          <label for="formGroupExampleInput" *ngIf="showAnswer" style="color: green" >&nbsp;/&nbsp;{{actual_memorize.english}}</label>
                          
                      </div>

                      <div *ngIf="onlyImg && actual_memorize.imageUrl !== null && (actual_memorize.imageUrl !== '')" style="width: 100%; text-align: center; margin-top: 5px; margin-bottom: 15px">
                        <img style="width: 300px" src="{{actual_memorize.imageUrl}}" alt="Italian Trulli">
                      </div>

                      <div class="input-group">
                        <input type="text" [(ngModel)]="input"  id="input_english" autocomplete="off" class="form-control" aria-describedby="basic-addon1" (keydown)="onKeydown($event)" autofocus> 
                        <div class="input-group-prepend" style="cursor: pointer" (click)="isMute = !isMute">
                          <div *ngIf="isMute" class="input-group-text" id="btnGroupAddon"><i class="material-icons">&#xe04f;</i></div>
                          <div *ngIf="!isMute" class="input-group-text" id="btnGroupAddon"><i class="material-icons">&#xe050;</i></div>
                        </div>

                        <div class="input-group-prepend" style="cursor: pointer" (click)="setOnlyImage()">
                          <div *ngIf="onlyImg" class="input-group-text"><i style='font-size:24px' class='far'>&#xf302;</i></div>
                          <div *ngIf="!onlyImg" class="input-group-text"><i style="font-size:24px" class="fa">&#xf031;</i></div>
                        </div>
                      </div>
                  </div>
                  

                  <div class="progress" style="margin-top: 5px">
                    <div class="progress-bar" id="progress_bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                  <div style="width: 100%; text-align: center; margin-top: 5px; color: green">
                    <button type="button" class="btn btn-info" (click)="manageDictionary()" >Dictionary</button>
                    <button type="button" class="btn btn-outline-danger" (click)="showHelp()" style="margin-left: 5px" *ngIf="!isLoading">Show Help</button>
                    <button type="button" class="btn btn-outline-success" (click)="playAudio()" style="margin-left: 5px" *ngIf="!isLoading">Play</button>
                    <button type="button" class="btn btn-outline-success" (click)="test()" style="margin-left: 5px" *ngIf="!isLoading" style="display:none">test</button>
                  </div>
                  <!-- <a href={{audioAddress}} target="blank_">Actived sentence</a> -->

                  <!-- <div style="display: none" >
                    <audio controls src="{{audioAddress}}">
                      <source src="{{audioAddress}}" type="audio/ogg">
                      <source src="{{audioAddress}}" type="audio/mpeg">
                      Your browser does not support the audio tag.
                    </audio>
                  </div> -->

                  <div style="width: 100%; text-align: center">
                    <img src="assets/img/load2.gif" alt="Smiley face"  width="100" *ngIf="isLoading">
                  </div>

              </div>

              
            


              <div style="margin-top: 20%;" *ngIf="viewMode == 'MANAGE_DICTIONAY'">  
                  <input type="text" [(ngModel)]="manage_object_memorize.spanish" placeholder="Spanish" class="form-control" aria-describedby="basic-addon1" style="margin-bottom: 5px">  
                  <input type="text" [(ngModel)]="manage_object_memorize.english" placeholder="English" class="form-control" aria-describedby="basic-addon1" style="margin-bottom: 5px">  
                  <input type="text" [(ngModel)]="manage_object_memorize.example" placeholder="Example to use it / Spanish" class="form-control" aria-describedby="basic-addon1" style="margin-bottom: 5px;">  
                  <input type="text" [(ngModel)]="manage_object_memorize.imageUrl" placeholder="Image url" class="form-control" aria-describedby="basic-addon1" style="margin-bottom: 5px;">  

                  <div class="input-group" >
                      <input type="text" [(ngModel)]="newEnglishAlternative" placeholder="Add New English Alternative" class="form-control" aria-describedby="basic-addon1" >  
                      <div class="input-group-prepend" style="cursor: pointer" (click)="addAlternative()">
                        <div class="input-group-text" id="btnGroupAddon">+</div>
                      </div>
                  </div>

                  <div class="table-responsive-xl" style="margin-top: 10px;">
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">English Alternative</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr mdbTableCol *ngFor="let alternative of manage_object_memorize.alternatives">
                          <th scope="row" *ngIf="false">{{alternative.alternativeId}}</th>
                          <td>{{alternative.english}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                  <div class="container-fluid" style="margin-top: 10px;">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-auto" style="margin-bottom: 7px">
                          <button type="button" class="btn btn-outline-primary btn-block" (click)="search()" >Search</button>                          
                        </div>
                        <div class="col" style="margin-bottom: 7px">
                          <button type="button" class="btn btn-success btn-block" (click)="save()" >Save</button>
                        </div>
                        <div class="col-md-auto" style="margin-bottom: 7px">
                          <button type="button" class="btn btn-outline-info btn-block" (click)="clean()" >Clean</button>
                        </div>
                        <div class="col-md-auto" style="margin-bottom: 7px">
                          <button type="button" class="btn btn-outline-info btn-block" (click)="viewMode = 'LEARNING'" >To Learn</button>
                        </div>
                      </div>

                    </div>
                  </div>
              </div>

          </div>

          <div class="col-md-auto"></div>
        </div>
  </div>
</div>


<router-outlet></router-outlet>